@media (max-width: 1208px){
    .main-img{
        flex-direction: column-reverse;
    }
    .menu{
        display: none;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu-toggle{
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
    .one, .two, .three{
        background-color: #E6223A;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition: 400ms;
    }
    header.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }
    header.on .menu-toggle .two{
        opacity: 0;
    }
    header.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -10px);
    }

    .destaques{
        margin: 72px auto 0;
        flex-wrap: wrap;
    }

    .destaques-cards{
        margin: 50px auto;
    }

    .sobre{
        justify-content: center;
    }

    .sobre-txt{
        left: 0;
        top: 335px;
        padding: 10%;
    }

    .produtos{
        margin: 175px auto 0;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 100px 10%;
    }

    .produtos-txt{
        margin-bottom: 150px;
        margin-right: 0;
        width: 100%;
    }

    .produtos-container{
        width: 50%;
    }

    .setas{
        grid-area:3 / 1 / span 2/ span 2;
    }

    .contato-video video{
        width: 800px;
    }
}


@media (max-width: 768px){
    .top-header{
        padding-right: 0;
        justify-content: center;
    }

    header .logo img{
        max-width: 100%;
        margin: 0;
    }

    .main-img{
        top: 30vh;
    }
    
    .contato-video video{
        width: 575px;
    }

    .produtos-container {
        width: 70%;
    }
    .parceiros{
        height: auto;
    }
    .parceiros-list{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .governo{
        flex-direction: column;
        height: auto;
    }
    .governo-text{
        margin: 50px 0;
    }

    .contato-form form {
        flex-direction: column;
    }

    footer{
        flex-direction: column;
        height: auto;
    }
    .footer-text{
        padding-right: 0;
    }
    .footer-icons {
        margin: 20px;
    }
}

@media (max-width: 580px){
    .top-header p{
        font-size: 10px;
        margin-left: 40px;
    }
    .main-tittle {
        margin: 0;
    }
    .produtos-container {
        width: 100%;
    }
    .parceiros-list {
        grid-template-columns: 1fr 1fr;
    }
    .contato-video video {
        width: 455px;
    }
    footer{
        margin-top: 90px;
        padding: 50px 0;
    }
}

@media (max-width: 495px){
    header{
        height: 20vh;
    }
    .top-header p {
        font-size: 8px;
        margin-left: 19px;
    }
    header .logo img {
        height: 40px;
    }
    header.down{
        height: 46px;
    }
    header.on{
        height: 100vh !important;
    }
    .main-img{
        margin: -10% 5% 0;
    }
    .menu-toggle{
        margin-right: 70px;
        height: 45px;
    }
    .sobre-txt{
        font-size: 14px;
    }
    .sobre-img img {
        max-width: 100%;
    }
    .produtos-container{
        grid-gap: 34px;
    }
    .contato-video video {
        width: 350px;
    }
    .footer-text {
        padding: 0 20px;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 375px){
    header .logo img {
        height: 35px;
    }
    .main-tittle h1 {
        font-size: 33px;
        line-height: 44px;
    }
    .destaques{
        padding:48px 10%;
    }
    .destaques-cards {
        margin: 37px auto;
    }
    .background-sobre-img,
    .background-sobre-img-2{
        height: 227px;
    }
    .sobre-txt {
        font-size: 12px;
    }
    .produtos{
        padding: 100px 0;
    }
    .produtos-txt{
        font-size: 12px;
        margin-bottom: 56px;
        padding: 0 10%;
    }
    .produtos-container{
        grid-gap: 22px;
        max-height: auto;
    }
    .contato{
        padding: 70px 10%;
    }
    .contato-form input[type="button"]{
        min-height: 49px;
        min-width: 199px;
        font-size: 14px;
    }
    .contato-video video {
        width: 295px;
    }
    footer{
        margin-top: 0;
    }
}