*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
  }

 
  
  body{
      font-family: 'Roboto', sans-serif;
  }
  
  a{
      text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6{
      color: #E6223A;
  }
  
  li{
      list-style: none;
  }

  p{
    color: #55575A;
  }
  
  header{
    background: url('assets/header-1.svg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 416px;
  }

  .top-header{
    width: 100%;
    height: 38px;
    position: absolute;
    top: 0;
    background: #2E3956;
  }

  header div img{
      margin-left: 50px;
  }

  .menu{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .menu ul{
    display: flex;
  }

  .menu ul li{
    font-size: 18px;
    line-height: 21px;
    margin-left: 40px;
  }

  .menu a{
    color: #F2F2F2;
  }

  .menu a.active{
      color: #E6223A;
  }

  .main-img{
    position: absolute;
    right: 120px;
    top: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-tittle{
    margin-right: 20px;
  }

  .main-tittle h1{
    font-size: 48px;
    line-height: 59px;
  }

  .main-tittle p{
    font-size: 24px;
    line-height: 29px;
  }

.destaques{
    display: flex;
    width: 80%;
    margin: 550px auto 270px;
}

.destaques-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destaques-cards span{
    background: url('assets/IconFabricante.svg');
    display: flex;
    width: 139px;
    height: 128px
}

.destaques-cards h3, .destaques-cards p{
    text-align: center;
}

.destaques-cards p{
    margin-top: 35px;
}

.sobre{
    display: flex;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.sobre-img{
  position: relative;
  width: 399px;
}

.sobre-img img{
  position: absolute;
}

.background-sobre-img{
  background: white;
  position: absolute;
  width: 100%;
  filter: opacity(0.5);
  height: 353px;
}

.background-sobre-img-2{
  background: #E6223A;
  position: absolute;
  width: 100%;
  height: 353px;
  z-index: -1;
    transform: translate(-19px, -19px);
}

.sobre-txt{
  position: absolute;
  left: 50%;
}


.produtos{
  display: flex;
  width: 80%;
  margin: 500px auto;
  position: relative;
}

.produtos-txt{
  margin-right: 131px;
  width: 50%;
}

.produtos-container{
  display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 60px;
    width: 40%;
    max-width: 360px;
    max-height: 435px;
    overflow: hidden;
}

.produtos-card-item{
  background: linear-gradient(115.59deg, #E6223A -25.24%, #2E3956 135.37%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: transform 1s;
}

.produtos-card-item h3{
    font-size: 12px;
    line-height: 14px;
    color: white;
}

.setas{
  display: flex;
  justify-content: space-between;
}

.setas span{
  cursor: pointer;
}

.parceiros{
  width: 80%;
  margin: 0 auto;
}

.parceiros-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 40px;
}

.parceiros-text{
  text-align: center;
}

.parceiros-item img{
    max-width: 100%;
}

.governo{
  width: 80%;
  margin: 280px auto 0;
  display: flex;
  justify-content: space-between;
}

.governo-img img{
  max-width: 100%;
}

.governo-text{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn{
  border: none;
  min-height: 45px;
  min-width: 277px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn.download{
  background: #BA1D30;
  color: white;
}

.btn.download:hover{
  background: #831421;
}


.contato{
  width: 80%;
  margin: 277px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato-text{

}

.contato-form{
width: 100%;
}

.contato-form form{
display: flex;
}

.contato-form fieldset{
  border: none;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contato-form input,
.contato-form textarea {
  background: #E9E9E9;
  border: 1px solid #AFAFAF;
  min-height: 28px;
  margin: 49px 31px;
  padding: 6px;
}

.contato-form textarea{
  min-height: 181px;
}

.contato-form input[type="submit"]{
  background: #1B2234;
  min-height: 52px;
  min-width: 235px;
  width: 40%;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  transition: all 0.4s;
  align-self: flex-end;
}

.contato-form input[type="submit"]:hover{
  background: #26314b;
}

.contato-video{
  height: 270px;
  overflow: hidden;
}

footer{
  height: 80px;
  width: 100%;
  background: #1B2234;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 235px;
}

.footer-icons{
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer-icons img{
  margin-right: 20px;
}

.footer-text{
flex: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
padding-right: 115px;
}

.footer-text p{
  color: #d2d2d2;
  font-size: 12px;
}