*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
  }

 
  
  body{
      font-family: 'Roboto', sans-serif;
  }
  
  a{
      text-decoration: none;
      color:white;
      cursor: pointer;
  }
  
  h1, h2, h3, h4, h5, h6{
      color: #E6223A;
  }
  
  li{
      list-style: none;
  }

  p{
    color: #55575A;
  }
  
  /*HEADER*/

  header{
    background: url('assets/header-3.svg');
    min-height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 75px;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: top;
    transition: all 1s;
  }

  header.on{
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row-reverse;
    background: linear-gradient(-45deg, #2e3956, #e43a4e);
    width: 100%;
    height: 100vh;
    z-index: 2000;
  }

  header.on .top-header{
    display: none;
  }

  header.on .logo{
    display: none;
  }

  header.down{
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    min-height: auto;
    align-items: center;
  }
  header.down .logo img{
    height: 22px;
  }
  header.down .top-header{
    display: none;
  }
  header.down .menu ul li{
    font-size: 14px;
  }

  .top-header{
    width: 100%;
    height: 38px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    background: #2E3956;
    padding-right: 173px;
  }

  .top-header p{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #D2D2D2;
    margin-left: 73px;
  }

  header div img{
      margin-left: 50px;
  }

  .menu{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .menu.menuResponsive{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .menu ul{
    display: flex;
  }

  .menu ul li{
    font-size: 18px;
    line-height: 21px;
    margin-left: 40px;
  }

  .menu a{
    color: #F2F2F2;
    transition: color 0.4s;
  }

  .menu a:hover{
    color: #e43a4e;
  }

  .menu a.active{
      color: #E6223A;
  }

  .main-img{
    width: 80%;
    z-index: 2;
    height: 70vh;
    margin: -10% auto 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .main-img img{
    margin: 0 auto;
    max-width: 100%;
    height: 70vh;
  }

  .main-tittle{
    margin-right: 20px;
  }

  .main-tittle h1{
    font-size: 48px;
    line-height: 59px;
  }

  .main-tittle p{
    font-size: 24px;
    line-height: 29px;
  }


/*DESTAQUES*/

.destaques{
    display: flex;
    width: 100%;
    margin: 45px auto;
    padding: 100px 10%;
    background: #F7F8FC;
}

.destaques-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 49px;
}

.destaques-cards span{
    display: flex;
    width: 139px;
    height: 128px;
    background-position: center;
    
}

.destaques-cards span#fabricantes{
  background: url('assets/icons/house.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.destaques-cards span#produtos{
  background: url('assets/icons/work.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.destaques-cards span#ideias{
  background: url('assets/icons/ideas.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.destaques-cards span#suporte{
  background: url('assets/icons/support.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.destaques-cards h3, .destaques-cards p{
    text-align: center;
}

.destaques-cards p{
    margin-top: 35px;
}


/*SOBRE*/

.sobre{
    display: flex;
    width: 100%;
    padding: 116px 10%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.sobre-img{
  position: relative;
  width: 399px;
}

.sobre-img img{
  position: absolute;
}

.background-sobre-img{
  background: white;
  position: absolute;
  width: 100%;
  filter: opacity(0.5);
  height: 353px;
}

.background-sobre-img-2{
  background: #E6223A;
  position: absolute;
  width: 100%;
  height: 353px;
  z-index: -1;
    transform: translate(-19px, -19px);
}

.sobre-txt{
  position: absolute;
  left: 50%;
  display: flex;
  padding: 0 10% 0 0;
  flex-direction: column;
  align-items: center;
}

.sobre-txt h1{
  text-align: center;
}

span.sub{
  display: flex;
  border-bottom: 3px solid #1B2234;
  width: 150px;
  height: 5px;
  margin: 11px 0 28px;
}


/*PRODUTOS*/


.produtos{
  display: flex;
  width: 100%;
  padding: 100px 50px 0 10%;
  position: relative;
  background: #F7F8FC;
  height: 100vh;
}

.produtos-txt{
  margin-right: 131px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produtos-container{
  display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 60px;
    width: 40%;
    max-width: 360px;
    max-height: 435px;
    overflow: hidden;
}

.produtos-card-item{
  background: linear-gradient(115.59deg, #E6223A -25.24%, #2E3956 135.37%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: transform 1s;
}

.produtos-card-item h3{
    font-size: 12px;
    line-height: 14px;
    color: white;
}

.setas{
  display: flex;
  justify-content: space-between;
  grid-area:3 / 1 / span 2/ span 2;
}

.setas span{
  cursor: pointer;
}

.setas span#prev{
  background: url('./assets/icons/arrow_back.svg') no-repeat;
  display: flex;
  width: 35px;
  height: 35px;
}

.setas span#next{
  background: url('./assets/icons/arrow_forward.svg') no-repeat;
  display: flex;
  width: 35px;
  height: 35px;
}


/*PARCEIROS*/

.parceiros{
  width: 100%;
  padding: 10% 20%;
  height: 100vh;
}

.parceiros-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 40px;
}

.parceiros-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parceiros-item img{
    max-width: 100%;
}

/*GOVERNO*/

.governo{
  width: 100%;
  padding: 116px 10%;
  height: 100vh;
  background: #F7F8FC;
  display: flex;
  justify-content: space-between;
}

.governo-img img{
  max-width: 100%;
}

.governo-text{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  border: none;
  min-height: 45px;
  min-width: 277px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn.download{
  background: #BA1D30;
  color: white;
  margin-top: 60px;
}

.btn.download:hover{
  background: #831421;
}

/*CONTATO*/

.contato{
  width: 100%;
  padding: 100px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato-form{
width: 100%;
}

.contato-form form{
display: flex;
}

.contato-form fieldset{
  border: none;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contato-form input,
.contato-form textarea {
  background: #E9E9E9;
  border: 1px solid #AFAFAF;
  min-height: 28px;
  margin: 32px 31px;
  padding: 6px;
}

.contato-form textarea{
  min-height: 181px;
}

.contato-form input[type="button"]{
  background: #1B2234;
  min-height: 52px;
  min-width: 235px;
  width: 40%;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  transition: all 0.4s;
  align-self: flex-end;
}

.contato-form input[type="button"]:hover{
  background: #26314b;
}

.contato-video{
  height: 270px;
  overflow: hidden;
}


/*FOOTER*/

footer{
  height: 80px;
  width: 100%;
  background: #1B2234;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 235px;
}

.footer-icons{
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer-icons img{
  margin-right: 20px;
}

.footer-text{
flex: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
padding-right: 115px;
}

.footer-text p{
  color: #d2d2d2;
  font-size: 12px;
}

.top{
  border: 1px solid;
  margin: 10px 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  background: #0000007a;
  box-shadow: 3px 3px 7px #0000008c;
  cursor: pointer;
  opacity: 0;
  transition: all 400ms;
}

.top:hover{
  background: #00000089;
  animation: move 0.7s linear;
}

.top span{
  background: url('./assets/icons/arrow_up.svg') no-repeat;
  display: flex;
  width: 35px;
  height: 35px;
}